MONAD_RPC_URL=https://rpc.monad-testnet.fastlane.xyz/eyJhIjoiMHhhZkRCOWVFMTMxOEFFYUFhMkVlM0U3YTA4NTAyMDAyODc1RjA0MkNBIiwidCI6MTc1ODcxNDAxOSwicyI6IjB4NjQyOTkwYWU2NzMzZWEwYzA4Yjk5ODk4ZTE2ODk4NWQ3MWY4ODcyYjZiYmE3YTg2Y2FlYjlkNWFiNzVhOTdhMzJhNzY4Nzk1ODIwZTM2NjlkOWY4Mjg4NGJjZTMzMzVjODk2YjViOTU2NzRiNjQxZWI1MzRlODUwODA3ZWYwM2MxYyJ9  # RPC Monad testnet riêng
MONAD_CHAIN_ID=10143
DEPLOY_PK=0x...           # PK test (cùng ví bạn sẽ dùng làm owner/mint)
mUSDC deployed: 0x3A13C20987Ac0e6840d9CB6e917085F72D17E698